* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

header {
    background-color: #336799;
}
main{
    min-height: calc(75vh - 120px);
}
.logo {
    width: 120px;
    height: 60px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
    margin-right: 3em;
}

nav ul li a:hover {
    color: #f0f0f0 !important;
    text-decoration: underline;
}

nav ul li a:active {
    color: yellow !important;
}

.fa-shopping-basket {
    font-size: 2rem;
}

.fa-shopping-basket:hover {
    color: #f0f0f0 !important;
}

aside {
    position: sticky;
    top: 20px;
    height: max-content;
}

aside ul li a {
    text-decoration: none;
}

aside ul li a:hover {
    color: #4C8CC5 !important;
}

aside ul li a:active {
    color: #336799 !important;
}

.card-title {
    height: 75px;
}

.card-body .btn:hover {
    background-color: #28527a !important;
}

.page-link:hover {
    text-decoration: none;
    background-color: #28527a !important;
}

footer {
    background-color: #336799;
}

.footer__connect {
    border-bottom: 1px solid #adc2d7;
    font-size: 16px;
}

.footer__bar {
    border-left: 1px solid #adc2d7;
    border-right: 1px solid #adc2d7;
}

footer ul li a {
    text-decoration: none;
}

footer ul li a:hover {
    color: #f0f0f0 !important;
    text-decoration: underline;
}

footer ul li a:active {
    color: yellow !important;
}


.profile-pic {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.action-buttons button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.edit-btn {
    background: #28a745;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.cancel-btn {
    background: #dc3545;
    color: #fff;
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin: 5px;
}

.btn-filter {
    border: rgb(161, 152, 152) solid 0.5px;             
    color: black;                  
    border-radius: 5px;   
    background-color: white;    
}
.hidden {
    display: none;
}

#edit-form {
    background: #f9f9f9;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

#edit-form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#edit-form input {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
}

.benner {
    width: 98%;
    height: 150px;
    margin: 20px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.benner ul {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    align-items: center;
    color: white;
    font-size: 20px;
}
.benner img {
    width: 90px;
    height: 120px;
}

.card a img {
    height: 400px;
}

.card-title {
    height: 75px;
}

.slider {
    border: 2px solid black;
    position: relative;
    height: 60vh;
}

/* Slide container (hiển thị các ảnh theo hàng ngang) */
.slide {
    width: 100%;
    border-radius: 2%;

}

#cartModal{
    animation: fadeEffect 0.3s ease-in-out;
}

#cartModal{
    animation: fadeEffect 0.3s ease-in-out;
}

/* Keyframes cho hiệu ứng fade */
@keyframes fadeEffect {
    0% { opacity: 0; }
    20% { opacity: 1; }
    80% { opacity: 1; }
    100% { opacity: 0; }
}

/* Cách để hiển thị một slide */
.f-grid {
    position: relative;
    display: flex;
    justify-content: space-between;
    margin-left: -1rem;
    flex-flow: row wrap;
}

.f-grid-col {
    flex: 1 0;
    margin-left: 2rem;
    margin-bottom: 1rem;
    padding: 1rem;
}

.f-grid-col img {
    height: 45vh;
    width: 85%;
}

#backToTop {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #336799;
    color: white;
    padding: 10px 15px;
    border-radius: 5px;
    text-decoration: none;
    display: inline-block;
}

#backToTop:hover {
    background-color: #28527a;
}
#avatar{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: white;
}
.nav-item{
    display: flex;
    align-items: center;
}

.cart-icon{
    position: relative;
}

.cart-icon span{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-color: red;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    top: 50%;
    left:20px;
}

.pagination .page-item .page-link {
    color: white;
    background-color: #336799;
}

.pagination .page-item.active .page-link {
    background-color: #28527a;
    color: white;
}

.nav-link {
    color: #336799;
}

.nav-item .active {
    background-color: #336799 !important;
    color: white !important;
}

aside input {
    border: none !important;
}

@media (max-width: 768px) {
    #profile-name{
        display: block!important;
    }
    #avatar{
        margin-bottom: 10px;
    }
}

@media (max-width: 430px) or (max-width: 693px) or (max-width: 768px){
    .benner img,.slider {
        display: none;
    }
    .nav-item div{
        display: flex;
        align-items: center;
    }
}