* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(to bottom, #5D7B6F, #D7F9FA);
}

.blur-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(to bottom, rgba(93, 123, 111, 0.7), rgba(215, 249, 250, 1));
}

.container-fluid {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card {
    width: 100%;
    min-width: 400px;
    border: 4px solid rgba(192, 192, 192);
    border-radius: 4%;
    background: linear-gradient(to top, #A4C3A2, #5d7b6fa1) !important;
}

button {
    background-color: #363949 !important;
}

button:hover {
    background-color: #444444 !important;
}